<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222; height: 500px;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

</style>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Image on the side with square -->
  <img src="https://firebasestorage.googleapis.com/v0/b/zeel-thakkar.appspot.com/o/myphoto.jpg?alt=media&token=2b34831f-59c0-4d8f-b5f4-686689ea39a8" style="width:100%">
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <center><p>WORK</p></center>
  </a>
  
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>

  <a href="/feedback" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>FEEDBACK</p>
  </a>
 
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">CERTIFICATION & WORK</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small"></span> Zeel Thakkar</h1>
    
    
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">ABOUT ME</h2>
    <hr style="width:200px" class="w3-opacity">
    <p><h3>Curretly pursuing Post Graduation in Mobile Solutions Development from Conestoga College.</h3>
    <ul>
      <li>Pursued my BSc.IT from Atmiya University, Gujarat, India.</li>
      <li>Completed multiple courses from different organisations.</li>
      <li>Became an author for the book named <a href="https://docs.google.com/document/d/0B1v3Q2AXMoQvV3d3Qm9PMDdEY0FjMEkzeElEUkdfTl82YVF3/edit?usp=sharing&ouid=112192376163594005987&resourcekey=0-vGq6Qd3MhRhVKGresI9POg&rtpof=true&sd=true">Learn to Design HTML</a></li>
      <li></li>
    </ul>
    </p>
    <h3 class="w3-padding-16 w3-text-light-grey">MY SKILLS</h3>
    <p class="w3-wide">CSS</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:95%"></div>
    </div>
    <p class="w3-wide">PHP</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">HTML</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:80%"></div>
    </div><br>
    <p class="w3-wide">UI/UX</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:95%"></div>
    </div><br>
    <p class="w3-wide">JavaScript</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:90%"></div>
    </div><br>
    <p class="w3-wide">C#</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:75%"></div>
    </div><br>
    <p class="w3-wide">SQL</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:98%"></div>
    </div><br>
    
    

    <button class="w3-button w3-light-grey w3-padding-large w3-section">
      <a class="fa fa-download" download="https://firebasestorage.googleapis.com/v0/b/zeel-thakkar.appspot.com/o/zeel.pdf?alt=media&token=8426ceb2-b692-4808-ae6a-f5bf6734f2ee" > DOWNLOAD</a> 
    </button>
    
    
      
    
    
  </div>
  
  <!-- Portfolio Section -->
  <div class="w3-padding-64 w3-content" id="photos">
    <h2 class="w3-text-light-grey">CERTIFICATION & WORK</h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-3091b54f-6335-4d95-8976-3f36a70f9119.jpg" style="width:100%">
      
        <img src="https://firebasestorage.googleapis.com/v0/b/zeel-thakkar.appspot.com/o/seo.PNG?alt=media&token=8e266bee-2f44-41a2-855b-020658c5115f" style="width:100%">
        <img src="https://firebasestorage.googleapis.com/v0/b/zeel-thakkar.appspot.com/o/bookc.PNG?alt=media&token=52df3568-b539-4413-bae9-74ceb4c71480" style="width:50%">
        <br><a target="_blank" href="https://docs.google.com/document/d/0B1v3Q2AXMoQvV3d3Qm9PMDdEY0FjMEkzeElEUkdfTl82YVF3/edit?usp=sharing&ouid=112192376163594005987&resourcekey=0-vGq6Qd3MhRhVKGresI9POg&rtpof=true&sd=true">READ THE BOOK</a>
      </div>

      <div class="w3-half">
        <img src="https://firebasestorage.googleapis.com/v0/b/zeel-thakkar.appspot.com/o/alison.PNG?alt=media&token=94eae92c-e29d-456b-9ff3-4ee76991fd76" style="width:100%">
        <img src="https://firebasestorage.googleapis.com/v0/b/zeel-thakkar.appspot.com/o/certi.PNG?alt=media&token=28197a0b-7857-4d2c-b9f5-c8f722aee67b" style="width:100%">
        
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">CONTACT ME</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Brampton, Canada</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +1 647-936-4476</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: zeelthakkar2272@gmail.com</p>
    </div><br>
    <p>In case of queries do get in touch</p>

    <form>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>
  
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <center>
    <a class="fa fa-github w3-hover-opacity" href="https://github.com/Zeel2272" target="_blank"></a>
    <a class="fa fa-linkedin w3-hover-opacity" href="https://www.linkedin.com/in/zeelthakkarr" target="_blank"></a>
    <p class="w3-medium">©2021 By Zeel Thakkar</p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>